@font-face {
    font-family: 'Circular Std';
    src: url(../fonts/CIRCULARSTD-MEDIUM.OTF);
}
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.NavBar{
    font-family: 'Circular Std';
}
.AddHumanResource{
    font-family: 'Circular Std';
}
.AjoutEntreprise{
    font-family: 'Circular Std';
}
.ListeEts{
    font-family: 'Circular Std';
}


.btn-suivant{
    background: url(../assets/illustrations/right_arrow.png) no-repeat right 27px 13px;
    background-size: 25px;
    
}

.tab_compte{
    line-height: 60px;
}
.sel_role option{
    height: 2.5rem;
    line-height: 100%;
}
.sel_role {
    height: 2.5rem;
    line-height: 100%;
}
.cent_in{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.inp_search{
    background: url(../assets/icons/search.png) no-repeat scroll 17px 14px;
    background-size: 16px;
    background-color: #D2EDFD;
    padding-left: 50px;
    font-size: 14px;
    /* margin-left: -70px; */
}

.cent_lab{
    font-size: 14px;
}

.tab_ents{
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    border-radius: 1rem;
    line-height: 45px;

}
thead{
    background-color: #F1F1F1;
}
thead td:first-child {
    border-radius: 1rem 0 0 0;
  }
  thead td:last-child {
    border-radius: 0 1rem 0 0;
  }

  table td {
    border: none !important;
  }
  
  .log_mdp {
    background: url(../assets/icons/password.png) no-repeat scroll 27px 13px;
    background-size: 25px;

}