@font-face {
  font-family: 'Circular Std';
  src: url(./res/CIRCULARSTD-MEDIUM.OTF);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
}
